* {
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  background-color: #f4f6f8;
  color: #333;
}

/* Header */
.topbar {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 10;
}

.logo {
  font-weight: bold;
  color: #2c3e50;
}

.logout-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #c0392b;
}

/* Main Content */
.content {
  margin-top: 70px;
  margin-left: 10px;
  padding: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  box-sizing: border-box;
  overflow-x:auto;
}

h2 {
  margin-top: 0;
  border-bottom: 2px solid #eee;
  padding-bottom: 8px;
}

/* Forms & Tables */
label {
  display: block;
  margin-top: 8px;
  font-size: 500;
}  

th {
  font-size: 14.4px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.subawards input{
  width: auto;
}

.sameline label {
  display: inline-flex;     
  align-items: center;       
  margin-right: 15px;        
  margin-top: 0;             
}

button {
  margin-top: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.export {
  background-color: #2ecc71;
}

.export:hover {
  background-color: #27ae60;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  font-size: 14.4px;
}

th {
  background-color: #f1f1f1;
}

.radio-group label {
  margin-right: 0px;
  margin-top: 1px;
}

.row {
  display: flex;
  gap: 10px;
}

.tight_text{
  margin-bottom: 0px;
  margin-top: 0px;
}

.sameline{
  display: flex;
  /* justify-content: space-between; */
}

.spacing-text{
  padding-right: 10px;
}

/* Login/Registeration Pages  */
.content-login {
  margin-top: 5%;
  margin-left: 30%;
  padding: 15px;
  width: 40%;
  display: grid;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: rgba(100,100,111,.2) 0px 7px 29px 0px;
}

.form-group{
    margin-bottom:30px;
}

.container table, .container tr, .container td, .container th{
    border: 2px solid;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.userbox{
    display: flex;
    gap: 10px;
    align-items: center;
}